.App {
    font-family: Roboto, arial, sans-serif;
    border: 1px solid #f7946f;
   background: rgba(254, 201, 210, 0.5); 
    margin: 75px auto 18px auto;
    max-width: 700px;
    padding: 16px;
    border-radius: 4px;
  }
  
  .App form {
    margin-bottom: 20px;
  }
  
  .col-8 {
    padding-left: 0px;
  }
  
  .App input.form-control {
    margin-top: 30px;
    font-family: "Space Mono", monospace;
    border-color: #f6916c;
  }
  
  .btn-primary {
    margin-top: 30px;
    font-family: "Space Mono", monospace;
    font-weight: bold;
    background-color: #ef529c;
    color: #000;
    border-color: #ef529c;
    transition: 0.2s;
  }
  
  .btn-primary:hover {
    background-color: #060606;
    color: #ef529c;
    border: #000;
  }
  
  
  
  .geolocation:hover {
    background-color: #8083b3;
    color: #5da9bd;
    border: #000;
  }
  
  .App h1 {
    color: #0b0b0b;
    font-size: 25px;
    font-family: "Press Start 2P", cursive;
    font-weight: 100;
    line-height: 60px;
    margin: 0 0 8px 0;
  }
  
  .App ul {
    margin-bottom: 35px;
    padding-left: 0px;
    font-family: "Space Mono", monospace;
  }
  
  .App li {
    font-size: 20px;
    font-weight: 100px;
    line-height: 30px;
    list-style: none;
    color: #000;
  }
  
  footer {
    color: #000000;
    background-color: #69abbd;
    text-align: center;
    font-family: "Space Mono", monospace;
    font-size: 12px;
  }
  
 
  
  .App .temperature {
    font-size: 64px;
    font-family: "Space Mono", monospace;
    color: #242222;
    line-height: 64px;
    margin-left: 15px;
  }
  
  .App .unit {
    font-size: 16px;
    font-weight: 400;
    font-family: "Space Mono", monospace;
    position: relative;
    top: -34px;
    line-height: 1;
    margin-left: 5px;
    color: #0e0d0d;
  }
  
 
  